.shorten{
    background-image: url('/src/assets/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #3b3054
;
}